.GameBoardCont{
    display: flex;

    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    /* border: 1px solid blue; */
    /* display: flex; */
    gap: 10px;
    background-color: rgba(240, 248, 255, 0.506);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    width: 800px;
    padding: 5px;
}

@media screen and (max-width: 600px) {
       .GameBoardCont{
        flex-direction: column;
        width: 400px;
       }
}

.pointsCont{
    /* border: 1px solid green; */
    width: 260px;
    background-color: rgba(1, 1, 43, 0.622);
    backdrop-filter: blur(20px);
    color: white;
    padding: 20px;
}



.questBlock{
    width: 420px;
}

.points{
    h1{
        color: white;
        -webkit-text-stroke: 1px black;
    }
}

.pointsCont{
    /* border: 1px solid orange; */
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 5px;

}


.pItem{
    border: 1px solid gray;
    background-color: rgba(240, 248, 255, 0.558);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
}

.pItem.highlight {
    background-color: #28a745;
    border: none;
    color: white; /* Optional: Adjust text color for better contrast */
  }




.modal{
    /* border: 1px solid green; */
    background-color: rgba(240, 248, 255, 0.558);
    backdrop-filter: blur(10px);
    width: 300px;
    padding: 10px;
    height: 100px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


}

.win{
    background-color: #28a745;
}

.nowin{
    background-color: #dc3545;
}